

//xl
$font-size-xl-mobile: 70px;
$font-size-xl-tablet: 85px;
$font-size-xl-desktop: 100px;
//h1
$font-size-h1-mobile: 30px;
$font-size-h1-tablet: 65px;
$font-size-h1-desktop: 80px;
//h2
$font-size-h2-mobile: 20px;
$font-size-h2-tablet: 40px;
$font-size-h2-desktop: 50px;
//p
$font-size-p-mobile: 12px;
$font-size-p-tablet: 15px;
$font-size-p-desktop: 18px;
//nav
$nav-font-size-mobile: 20px;
$nav-font-size-tablet: 25px;
$nav-font-size-desktop: 30px;
//spacing
$font-letterspacing-h1: 3px;
$font-letterspacing-h1-mobile: .5px;

$font-letterspacing-p: 1px;
$font-letterspacing-p-mobile: .7px;

a {
  text-decoration: none;
  &:visited {
    color: black;
  }
}

.h1 {
  font-family: 'Saijs';
  font-size: $font-size-h1-mobile;
}

.h2 {
  font-family: "Saijs";
  font-size: 30px;
} 

.h3 {
  font-family: 'Saijs';
  font-size: 20px;
}

.p {
  font-family: 'Saijs';
  font-size: 16px;
  @include tablet() {
    font-size: 18px;
  }
  @include desktop() {
    font-size: 20px;
  }
}

@mixin p {
  font-family: 'Saijs';
  font-size: 16px;
  @include tablet() {
    font-size: 18px;
  }
  @include desktop() {
    font-size: 20px;
  }
}

//Tristan
@font-face {
  font-family: 'Saijs';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/FontFont_FF.Mark.Pro.Light.otf');
}

//Bob
@font-face {
  font-family: 'NoKetchup';
  src: url('/fonts/AdobeGaramondProRegular.ttf'); /* IE9 Compat Modes */
  // src: local('Bob'), local('Bob'),
  //      url('../src/fonts/FuturaPTBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //      url('../src/fonts/FuturaPTBook.woff2') format('woff2'), /* Super Modern Browsers */
  //      url('../src/fonts/FuturaPTBook.woff') format('woff'), /* Modern Browsers */
  //      url('../src/fonts/FuturaPTBook.ttf') format('truetype'), /* Safari, Android, iOS */
  //      url('../src/fonts/FuturaPTBook.svg#OpenSans') format('svg'); /* Legacy iOS */
}