
.scenes {
  height: 100%;
  min-height: calc(100vh - #{$top-spacing-mobile});
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: $row-height-mobile auto;
  grid-template-areas:
    "t";
}

.scenes-titel {
  grid-area: t;
  text-align: bottom;
}

.scene-container {
  grid-row: 2 / -1;
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: 90px;

  .scene {
    border-radius: 4px;
    background-color: $color-light-grey;
    display: grid;
    grid-column-gap: 8px;
    grid-template-column: repeat(12, 1fr);
    grid-template-rows: 45px 45px;
    padding-left: 10px;
    // grid-template-areas:
    //   "t t t t t t"
    //   "i i i i i i";
  }

  .scene > img {
    width: 40px;
    height: 40px;
    object-fit: scale-down;
    mix-blend-mode: multiply;
    grid-row: 2 / 3;
  }
  .scene > .scene-text {
    grid-row: 1 / 2;
    grid-column: 1 / 12;
    text-align: left;

  }
  .scene > .scene-toevoegen {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    line-height: calc(#{$row-height-mobile} / 1.5);
    text-align: center;
    margin-left: 0px;
  }
}

.inlog-account {
  grid-area: a;
  margin: 0 auto;
  position: relative;
  &:before{
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: $color-black;
    margin: -10px 0 0 calc(50% - 10px); 
  }
}