.splash {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .logo {
    
    animation:spin 4s linear infinite;
    transform-origin: 41% center;

    font-family: "Saijs";
    font-size: 300px;
  }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}