
.temperatuur-container {
  display: grid;
  grid-template-row: 200px auto 200px auto 200px auto;
  justify-content: center;
  align-items: center;
  @include widthAndPadding;

  .temperatuur {
    @include widthAndPadding;
    display: grid;
    align-items: flex-end;
    grid-template-areas: 
      "v c"
      "k k"
      "d d";
    grid-template-columns: 55% 45%;
    @include tablet() {
      grid-template-columns: 53% 47%;
    }
    .temperatuur-value {
      font-size: $font-size-xl-mobile;
      text-align: right;
      grid-area: v;
    }
    .temperatuur-celsius {
      text-align: left;
      line-height: 60px;
      grid-area: c;
      margin-top: calc(#{$font-size-xl-mobile} / 1.7);
    }
    .temperatuur-kalender {
      grid-area: k;
      text-align: center;
      margin: -15px 0 20px;
    }
    .temperatuur-selector {
      grid-area: d;
    }
    .temperatuur-selector canvas {
      @include align-center;
    }
  }
  
  .invoer {
    display: grid;
    grid-template-rows: auto 70px auto;
    grid-row-gap: 5px;
    .invoer-divider {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .invoer-input {
      grid-area: invoer-input;

      .invoer-input-temp {
        width: 60px;
      }
      .invoer-input-start-time {
        width: 90px;
      }
      .invoer-input-end-time {
        width: 90px;
      }
      .invoer-input-temp,
      .invoer-input-start-time,
      .invoer-input-end-time {
        @include input-field;
      }
    }

    .invoer-default-temp-container {
      grid-area: invoer-default-temp-container;
    }
    .invoer-instellen {
      display: grid;
      align-items: center;
      grid-template-areas:
        "invoer-input"
        "temp-instellingen"
        "invoer-default-temp-container";
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 15px;


      .temp-instellingen {

        .temp-instelling {
          display: grid;
          grid-template-columns: 60% 30% 10%;
          background-color: $color-light-grey;
          margin-bottom: 5px; //parent and child with display:grid gives bug in safari --> thats why no 2nd grid but margin-bottom
          &:last-child {
            margin-bottom: 0;
          }
          .temp-instelling-time {

          }

          .temp-instelling-temp {
            
          }

          .temp-instelling-remove {
            cursor: pointer;
          }
        }
      }
      .invoer-default-temp-container {
        line-height: 107%;
        .invoer-default-temp-text-input {
          width: 60px;
          @include input-field;
        }
      }
    }
    .invoer-kiezen {
      display: grid;
      align-items: center;
      grid-row-gap: 5px;
      .invoer-kiezen-titel {}
      .invoer-kiezen-option {
          display: grid;
          grid-template-columns: 90% 10%;
          background-color: $color-light-grey;

        .invoer-kiezen-option-name {

        }
        .invoer-kiezen-option-remove {
          cursor: pointer;
        }
      }
      .invoer-kiezen-save-option {
        .invoer-kiezen-save-option-save {
          width: 75px;
          @include input-field;
        }
      }
    }
  }
}
































