
.temperatuur-container {
  display: grid;
  background-color: grey;
  grid-template-rows: repeat(4, minmax(200px, 1fr));

  .temperatuur {
  
              .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .knop .cursor {
            fill: silver;    
        }
        
        .knop .tick {
            fill: silver;
            font-size: 14px;
            font-weight: bold;
        }

        .knop .major line {
            stroke: silver;
            stroke-width: 2px;
        }

        .ind .lane, .ind .cursor {
            opacity: 0;
        }

        .ind .tick {
            fill: silver;
            font-size: 14px;
            font-weight: bold;
        }

        .ind .major line {
            stroke: silver;
            stroke-width: 1px;
        }

        .ind .domain {
            stroke: silver;
            stroke-width: 1px;
        }

        .ind .tick {
            fill: silver;
            font-size: 10px;
            font-weight: normal;
        }

        .ind .indicator {
            stroke: #EE3311;
            fill: #000;
            stroke-width: 1px;
        }






  }

  .kalender {

  }
  
  .invoer {
    display: grid;
    background-color: yellow;
    grid-template-rows: auto 50px auto;
    .invoer-instellen {
      
    }
    .invoer-kiezen {

    }
  }
}