
$mobile: 400px;
$tablet-portrait: 768px;
$table-landscape: 1024px; 

$color-dark: #333333;
$color-black: #272727;


@mixin mobile {
  @media (min-width: $mobile) and (max-width: $tablet-portrait) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: $tablet-portrait) and (max-width: $table-landscape) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: $table-landscape) {
    @content;
  }
}