@import "_vars";
@import "_fonts";
@import "_splash";
@import "_inlog";
@import "_apparaten";
@import "_scenes";
@import "_temperatuur";

body, html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}

.container {
  max-width: $mobile;
  min-height: calc(100vh - #{$top-spacing-mobile});
  margin: 0 auto;
  padding: 0 15px 40px;
  display: grid;
  grid-template-rows: $top-spacing-mobile auto;
  z-index: 2;

  .navigation-container {
    font-family: "Saijs";
    font-size: 15px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90%;

    .active {
      border-bottom: 5px solid $color-black;
    }

    li {
      list-style: none;
      text-transform: uppercase;
      text-align: center;
      a {
        color: $color-dark;
        &.active {
          color: $color-black;
        }
      }
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  .logo-background {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -45%);
    font-family: 'Saijs';
    font-size: 100px;
    cursor: default;
    z-index: 1;
  }
}
