@import "_vars";
@import "_fonts";
@import "_splash";
@import "_inlog";
@import "_apparaten";
@import "_scenes";
@import "_temperatuur";
@import "_kalender";

body, html {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  font-family: 'Saijs', Helvetica, Arial, sans-serif;
  color: black;
}

body {
    padding: 0 10px;
    width: $mobile;
    margin: 0 auto;
    background-color: white;
    @include tablet() {
      width: $tablet;
    }
    @include desktop() {
      width: $desktop;
    }
}



.logo-background {
    position: relative;
    margin-top: -60px;
    font-family: 'Saijs';
    font-size: 100px;
    cursor: default;
    text-align: center;
}

.container {
  @include widthAndPadding;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: $top-spacing-mobile $mobile-spacing auto;

  .spacer {
    @include spacer;
  }

  .navigation-container { 
    @include widthAndPadding;
    font-family: "Saijs";
    font-size: 15px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90%;

    .active {
      border-bottom: 5px solid $color-black;
    }

    li {
      list-style: none;
      text-transform: uppercase;
      text-align: center;
      a {
        color: $color-dark;
        &.active {
          color: $color-black;
        }
      }
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}
