@import "_vars";
@import "_fonts";
@import "_splash";
@import "_inlog";
@import "_apparaten";

body, html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}

.container {
  max-width: $mobile;
  margin: 0 auto;
  display: grid;

  .navigation-container {
    padding: 0;
    margin: 40px 0 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    ". . ."
    ". . ."
    "l1 l2 l3";
    .navigation-item:nth-child(1n) {
      grid-area: l1;
    }
    .navigation-item:nth-child(2n) {
      grid-area: l2;
    }
    .navigation-item:nth-child(3n) {
      grid-area: l3;
    }
    li {
      list-style: none;
    }
  }

  .logo-background {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -44%);
    font-family: 'Saijs';
    font-size: 100px;
  }
}
